---
disk_letter_map:
  0: "a"
  1: "b"
  2: "c"
  3: "d"
  4: "e"
  5: "f"
  6: "g"
  7: "h"
  8: "i"
  9: "j"
  10: "k"

lvm_unit_number: "{{ next_unit_number }}"
vg_name: ""
lv_name: ""
mountpoint: ""
lvm_fs_type: "xfs"
