---
# tasks/add_nic.yml

- name: Add Network Interface via vCenter (Delegated)
  # Adds the NIC without modifying existing hardware configuration
  community.vmware.vmware_guest_network:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_password }}"
    name: "{{ vm_name }}"
    datacenter: "{{ datacenter }}"
    network_name: "{{ network_label }}"
    device_type: "{{ nic_device_type }}"
    state: present
    connected: true
  delegate_to: localhost
  register: nic_result

- name: Gather VM Facts from vCenter
  # We need to refresh vCenter info to get the generated MAC address
  community.vmware.vmware_guest_info:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_user}}"
    password: "{{ vcenter_password }}"
    name: "{{ vm_name }}"
    datacenter: "{{ datacenter }}"
  delegate_to: localhost
  register: vm_info

- name: Extract New MAC Address (From network_info)
  ansible.builtin.set_fact:
    expected_mac_address: >-
      {{
        nic_result.network_info
        | selectattr('network_name', 'equalto', network_label)
        | map(attribute='mac_address')
        | list
        | first
      }}
  delegate_to: localhost

- name: Debug - Expected MAC
  ansible.builtin.debug:
    msg: "vCenter assigned MAC {{ expected_mac_address }} to network {{ network_label }}"