---
# tasks/create_network.yml

- name: Create Distributed Virtual Switch Portgroup
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: false
    portgroup_name: "{{ network_label }}"
    switch_name: "{{ vds_name }}"
    vlan_id: "{{ vlan_id }}"
    num_ports: 128            # Optional: Defines port capacity
    portgroup_type: earlyBinding # Standard for static port binding
    state: present
  delegate_to: localhost
  register: portgroup_creation
  
- name: Debug - Portgroup Creation
  ansible.builtin.debug:
    msg: "Portgroup '{{ network_label }}' created or verified on switch '{{ vds_name }}' with VLAN {{ vlan_id }}."