---
- name: Gather current VM disk info
  community.vmware.vmware_guest_disk_info:
    datacenter: "{{ datacenter }}"
    name: "{{ vm_name }}"
  register: vm_disks

- name: Normalize disk list
  ansible.builtin.set_fact:
    disk_list: >-
      {{
        (vm_disks.guest_disk_info.values() | list)
        if (vm_disks.guest_disk_info is defined)
        else []
      }}

- name: Extract controller and unit numbers
  ansible.builtin.set_fact:
    #used_unit_numbers: "{{ disk_list[0].unit_number }}"
    used_unit_numbers: "{{ (disk_list | map(attribute='unit_number') | list | sort | last | int) + 1 }}"
    used_controllers:  "{{ disk_list[0].controller_bus_number | default(0) }}"

- name: Calculate next SCSI controller and unit number
  ansible.builtin.set_fact:
    scsi_controller:   "{{ used_controllers | int  | default(0) }}"
    next_unit_number:  "{{ (used_unit_numbers | sort | last | int) + 1 if used_unit_numbers | length > 0 else 0 }}"
    target_datastore: >-
      {{
        disk_datastore
        if (disk_datastore | length > 0)
        else (disk_list[0].backing_datastore if disk_list | length > 0 else 'undefined')
      }}
    current_disks: "{{ disk_list }}"

- name: Show detected VM disk summary
  ansible.builtin.debug:
    msg:
      - "Total disks found: {{ current_disks | length }}"
      - "Datastores in use: {{ current_disks | map(attribute='backing_datastore') | list | unique }}"
      - "Next SCSI controller: {{ scsi_controller }}"
      - "Next unit number: {{ next_unit_number }}"
      - "Datastore selected for new disk: {{ target_datastore }}"          

