---
- name: Render userdata
  template:
    src: cloudinit-userdata.yaml.j2
    dest: /tmp/userdata.yaml

- name: Render metadata
  template:
    src: cloudinit-metadata.yaml.j2
    dest: /tmp/metadata.yaml

- name: Apply cloud-init guestinfo
  community.vmware.vmware_guest:
    name: "{{ vm_name }}"
    state: present
    extra_config:
      "guestinfo.userdata": "{{ lookup('file', '/tmp/userdata.yaml') | b64encode }}"
      "guestinfo.userdata.encoding": "base64"
      "guestinfo.metadata": "{{ lookup('file','/tmp/metadata.yaml') | b64encode }}"
      "guestinfo.metadata.encoding": "base64"

