---
- name: Render userdata
  template:
    src: cloudinit-userdata.yaml.j2
    dest: /tmp/userdata.yaml

- name: Render metadata
  template:
    src: cloudinit-metadata.yaml.j2
    dest: /tmp/metadata.yaml

- name: Apply cloud-init guestinfo
  community.vmware.vmware_guest:
    name: "{{ vm_name }}"
    state: present
    customvalues:
      - key: "guestinfo.userdata"
        value: "{{ lookup('file','/tmp/userdata.yaml') | b64encode }}"
      - key: "guestinfo.userdata.encoding"
        value: "base64"
      - key: "guestinfo.metadata"
        value: "{{ lookup('file','/tmp/metadata.yaml') | b64encode }}"
      - key: "guestinfo.metadata.encoding"
        value: "base64"

