---

- name: Map unit_number to Linux disk letter
  ansible.builtin.set_fact:
    disk_letter: "{{ ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'][lvm_unit_number | int] }}"

- name: Map disk path
  ansible.builtin.set_fact:
    lvm_disk_path: "/dev/sd{{ disk_letter }}"

- name: Ensure new disk is available
  wait_for:
    path: "{{ lvm_disk_path }}"
    timeout: 30

- name: Extend existing LVM
  ansible.builtin.include_tasks: extend_lvm.yaml
  when: lvm_action == "extend"

- name: Create new PV/VG/LV
  ansible.builtin.include_tasks: create_lvm.yaml
  when: lvm_action == "create"
