---
- name: Gather current VM disk info
  community.vmware.vmware_guest_disk_info:
    datacenter: "{{ datacenter }}"
    name: "{{ vm_name }}"
  register: vm_disks

- name: Normalize disk list
  ansible.builtin.set_fact:
    disk_list: >-
      {{
        (vm_disks.guest_disk_info.values() | list)
        if (vm_disks.guest_disk_info is defined)
        else []
      }}

- name: Extract controller and unit numbers
  ansible.builtin.set_fact:
    #used_unit_numbers: "{{ disk_list[0].unit_number }}"
    used_unit_numbers: "{{ (disk_list | map(attribute='unit_number') | list | sort | last | int) + 1 }}"
    used_controllers:  "{{ disk_list[0].controller_bus_number | default(0) }}"

- name: Calculate next SCSI controller and unit number
  ansible.builtin.set_fact:
    scsi_controller:   "{{ used_controllers | int  | default(0) }}"
    next_unit_number:  "{{ (used_unit_numbers | sort | last | int) + 1 if used_unit_numbers | length > 0 else 0 }}"
    target_datastore: >-
      {{
        disk_datastore
        if (disk_datastore | length > 0)
        else (disk_list[0].backing_datastore if disk_list | length > 0 else 'undefined')
      }}
    current_disks: "{{ disk_list }}"

- name: Add new virtual disk to VM
  community.vmware.vmware_guest_disk:
    datacenter: "{{ datacenter }}"
    name: "{{ vm_name }}"
    disk:
      - size_gb: "{{ disk_size_gb }}"
        state: present
        type: "{{ disk_type }}"
        datastore: "{{ target_datastore }}"
        scsi_controller: "{{ scsi_controller  }}"
        unit_number: "{{ next_unit_number }}"
        disk_mode: "{{ disk_mode }}"
  register: add_disk_result

- name: Show result summary
  ansible.builtin.debug:
    msg: 
      - "New virtual disk added successfully!"
      - "──────────────────────────────────────"
      - "VM Name: {{ vm_name }}"
      - "Disk Size: {{ disk_size_gb }} GB"
      - "Disk Type: {{ disk_type }}"
      - "Datastore: {{ target_datastore }}"
      - "SCSI Controller: {{ scsi_controller }}"
      - "Unit Number: {{ next_unit_number }}"
      - "──────────────────────────────────────"
      - "Result: {{ add_disk_result.msg | default('Operation completed successfully.') }}"

